@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Hisab-Kitab</h1>
    <br /><br /><br />
    <div>
        <a asp-action="Index" asp-controller="Register">New User? Register Here</a>
    </div>
    <br /><br />
    <br /><br /><br />
    <div>
        <a asp-action="Index" asp-controller="Login">Already a user? Login Here</a>
    </div>
    <br /><br />


</div>
